<%= form_for @project do |f| %>
  <%= render 'shared/errors', object: @project %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div>
    <p><strong>People:</strong></p>

    <%= f.fields_for :people do |person| %>
      <%= render 'person_fields', f: person %>
    <% end %>

    <div class="links">
        <%= link_to_add_association 'add person', f, :people %>
      </div>
  </div>

  <%= f.submit %>
<% end %>
